ul li {
    color: #fff;
    list-style: decimal-leading-zero;
    text-transform: capitalize;
}

button {
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    min-height: 50px;
    min-width: 100px;
    background-color: red;
}

.connected {
    background-color: #01A781;
}

button .disabled {
    background-color: gray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: #fff;
}

.wrapper div span {
    margin: 0 2px
}

.tradeData {
    color: #fff;
    border-width: 1px solid green;
}

.background {
    margin: 0 0 5px;
    display: flex;
    min-width: 350px;
    background: #1b262d;
    padding: 10px;

}

.ticker {
    flex-grow: 1;
    flex-direction: column;
    display: block;
}


.ticker_container {
    display: flex;
    align-items: center;
    padding-top: 2px;
    min-height: 55px;
}

.ticker_icon {
    display: flex;
    align-items: center;
    padding-top: 2px;
    min-height: 55px;
}

.btc_img {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    background-image: url("https://static.bitfinex.com/images/icons/BTC-alt.svg");
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    display: block;
}

.ticker_data {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-between;
    /* font-size: 12px; */
    color: #fff;
}

.heading_span {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    white-space: nowrap;
    left: 2px;
}

.ticker_data h5 {
    font-weight: 300;
    font-size: 16px;
    white-space: nowrap;
}

.soft {
    opacity: .75;
}

.green_text {
    color: #01A781;
}

.data-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px 15px;
}

.data-container div {
    /* background-color: red; */
    padding: 0px 10px;
    color: #fff;
}

.data-container .right div {
    display: flex;
    justify-content: flex-end;
}

.data-container div div span {
    margin: 0 2px
}

.underline {
    text-decoration: underline;
}